body {
  background-color: #ad0101;
  font-family: Pontano Sans, sans-serif;
  color: #fff; }

.item {
  position: relative; }
  .item h2 {
    text-align: center;
    position: absolute;
    line-height: 125px;
    width: 100%; }

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: all 1s linear; }

.btn {
  padding: 10px 20px;
  font-size: 1.5em; }

p.bg-danger {
  padding: 20px;
  font-size: 1.5em;
  color: #ad0101; }

.pomodoro-session input {
  border-radius: 60px;
  padding: 3px 40px;
  font-size: 1.5em;
  font-weight: 700;
  background: none;
  border-color: #fff;
  color: #ad0101; }

.pomodoro-session:hover {
  background-color: #ad0101;
  color: #fff; }

.btn-primary {
  margin-top: 10px; }

.break-session input {
  border-radius: 60px;
  padding: 3px 40px;
  font-size: 1.5em;
  font-weight: 700;
  background: none;
  border-color: #fff;
  color: #286090; }

.break-session:hover {
  background-color: #286090;
  color: #fff; }
